@use 'vuetify' with (
  $utilities: false,
  $color-pack: false,
  $font-size-root: 16px,
  $body-font-family: 'ChevyRay - Express',
);

:root {
  color-scheme: shiku !important;
}

html {
  overflow: hidden;
}

.mx-menu-ghost-host {
  z-index: 2000 !important;
}

.v-theme--dark {
  --v-theme-background: transparent !important;
}

.v-btn__content {
  text-transform: none !important;
}

.v-badge {
  font-family: Convergence, sans-serif;
}

.v-list-item__spacer {
  width: 0 !important;
}

.v-expansion-panel-text__wrapper {
  padding: 0 !important;
}

#ui {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  pointer-events: none;
  z-index: 500;
}
